
@media (max-width: 575.98px) { 
.dau nav{
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.tuanca a{
    font-size: 40px;
}
.khungtrong{
    width: 100%;

}
.khungtrong p{
    font-size: 50%;
}
.khungtrong H1{
    font-size: 70%;
}
.xinchao {
    color: black;
    /* width: 530px; */
    padding: 40px 30px;
}
.hang1{
    height: 195px;
}
.img_baiviet {
    width: 200px;
    height: 150px;
}
.hangcuoi p{
    padding: 3px;
}
}
@media (min-width: 576px) and (max-width: 767.98px) { 
.dau nav{
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.khungtrong{
    width: 100%;
}
.xinchao {
    color: black;
    width: 900px;
    padding: 80px 50px;
}
}
@media (min-width: 768px) and (max-width: 991.98px) { 
.dau nav{
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.khungtrong{
    width: 100%;
}
.xinchao{
    color: black;
    padding: 50px 85px;

}
.hang1{
    background-position: 0px -73px;
}
 }
@media (min-width: 992px) and (max-width: 1199.98px) { 
.dau nav{
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.khungtrong{
    width: 100%;
}
.hang1{
    background-position: 0px -201px;
}
.xinchao{
    color: black;
    padding: 50px 209px;

}
 }
@media (min-width: 1200px) { 
.hang1{
    background-position: 0px -230px;
}
 }